<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>962492878733-maus7d23msrbbmogod90squ376ib0m9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962492878733-maus7d23msrbbmogod90squ376ib0m9c</string>
	<key>API_KEY</key>
	<string>AIzaSyCWu3FMAQ-xF0cWRV3zDIgDMZxbk0PIbbM</string>
	<key>GCM_SENDER_ID</key>
	<string>962492878733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ryota.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-93bfe</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-93bfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962492878733:ios:f1c7535f5b4e989e</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-93bfe.firebaseio.com</string>
</dict>
</plist>